/*=============== HEADER & NAV===============*/

.header{
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
}
.nav{
  height: var(--header-height);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.1rem;
  margin-left: 0.5rem;

}
.nav__logo{
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: 0.4s;
}
.nav__logo:hover{
  color: var(--first-color-alt);
}
.nav__menu{
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--second-hue),32%,16%, 0.8);
  width: 98%;
  border-radius: 4rem;
  padding: 1rem 3rem;
  backdrop-filter: blur(10px);
  justify-content: center;
}
.nav__list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__link{
  color: var(--text-color);
  font-size: 1.25rem;
  padding: 0.4rem;
  display: flex;
  border-radius: 5rem;
}
.nav__link:visited{
  color: var(--text-color);
}
